<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<style type="text/css">
     i{
         margin-right:10px;
     }
</style>
<link type="text/css" rel="stylesheet" th:href="@{/css/layui.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/layer.css}"/>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">云瀚物业后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/img/admin.jpg}" class="layui-nav-img">
                    管理员
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item ">
                    <!--layui-nav-itemed默认展开导航面板，加入li的class中即可-->
                    <a class="" href="javascript:;" ><i class="layui-icon layui-icon-template-1"></i> 档案管理</a>
                    <dl class="layui-nav-child">
                        <!--layui-icon layui-icon-template-1-->
                        <dd><a href="javascript:;" data-id="1" data-title="管理区" data-url="http://localhost:8080/yunhan/meter_reading" class="site-demo-active" data-type="tabAdd">管理区</a></dd>
                        <dd><a href="javascript:;" data-id="2" data-title="房间档案" data-url="http://localhost:8080/test/admin" class="site-demo-active" data-type="tabAdd">房间档案</a></dd>
                        <dd><a href="javascript:;" data-id="3" data-title="车位档案" data-url="http://localhost:8080/test/role" class="site-demo-active" data-type="tabAdd">车位档案</a></dd>
                        <dd><a href="javascript:;" data-id="4" data-title="客户档案" data-url="http://localhost:8080/test/admin" class="site-demo-active" data-type="tabAdd">客户档案</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class=""><i class="layui-icon layui-icon-edit"></i> 计费管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="5" data-title="智能计费" data-url="http://localhost:8080/test/admin" class="site-demo-active" data-type="tabAdd">智能计费</a></dd>
                        <dd><a href="javascript:;" data-id="6" data-title="收费项目" data-url="http://localhost:8080/test/admin" class="site-demo-active" data-type="tabAdd">收费项目</a></dd>
                        <dd><a href="javascript:;" data-id="7" data-title="收费标准" data-url="http://localhost:8080/test/admin" class="site-demo-active" data-type="tabAdd">收费标准</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class=""><i class="layui-icon layui-icon-survey"></i>抄表管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="8" data-title="仪表抄表" data-url="http://localhost:8080/yunhan/meter_reading" class="site-demo-active" data-type="tabAdd">仪表抄表</a></dd>
                        <dd><a href="javascript:;" data-id="9" data-title="抄表费用" data-url="http://localhost:8080/yunhan/meter_charge" class="site-demo-active" data-type="tabAdd">抄表费用</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class=""><i class="layui-icon layui-icon-tabs"></i>应收管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="10" data-title="应收账单" data-url="http://localhost:8080/yunhan/receivables" class="site-demo-active" data-type="tabAdd">应收账单</a></dd>
                        <dd><a href="javascript:;" data-id="11" data-title="应收明细" data-url="http://localhost:8080/yunhan/receivables" class="site-demo-active" data-type="tabAdd">应收明细</a></dd>
                        <dd><a href="javascript:;" data-id="12" data-title="应收减免" data-url="http://localhost:8080/test/admin" class="site-demo-active" data-type="tabAdd">应收减免</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-rmb"></i>收费管理</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-form"></i>报表中心</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-user"></i>客户服务</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-diamond"></i>品质巡检</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-auz"></i>门禁管理</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-flag"></i>安保巡更</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-console"></i>设备管理</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-set-sm"></i>设备巡检</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-group"></i>单位组织</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class=""><i class="layui-icon layui-icon-website"></i>系统管理</a></li>
            </ul>
        </div>
    </div>
      <!--显示生成的选项卡界面-->

        <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 200px;">
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content"></div>
        </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © yunhan.com - 物业后台管理系统
    </div>
</div>
<script type="text/javascript" th:src="@{/js/layui.all.js}"></script>

<script>
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element;
        // var layer = layui.layer;
        var $ = layui.$;
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-demo-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                    id: id //规定好的id
                })
                FrameWH();  //计算ifram层的大小
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
            }
        };
        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height",h+"px");
        }
    });
</script>
</body>
</html>