<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhan.mapper.LoucengMapper">
    <select id="queryLoucengNo" resultType="com.yunhan.entity.Louceng" parameterType="Integer">
            select loucengNo,loucengID from louceng where buildingID=#{buildingID}
    </select>

</mapper>

