<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunhan.mapper.PrepaidRecordMapper">

    <select id="selectAll" resultType="map" parameterType="map" >
        select * from prepaidRecord p LEFT JOIN room r on p.roomid=r.roomid LEFT JOIN clientmessage c on r.clientMessageId=c.clientMessageId
        <where>1=1
            <if test="clientname!=null and clientname!=''">
                and c.clientname like concat('%',concat(#{clientname},'%'))
            </if>
        </where>LIMIT #{begin},#{end}
    </select>
    <select id="selectCount" resultType="int">
        select count(*) from prepaidRecord p LEFT JOIN room r on p.roomid=r.roomid LEFT JOIN clientmessage c on r.clientMessageId=c.clientMessageId
        <where>1=1
            <if test="clientname!=null and clientname!=''">
                and clientname like concat('%',concat(#{clientname},'%'))
            </if>
        </where>
    </select>
</mapper>