<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunhan.mapper.ReceivableMapper">

    <select id="selectAll" resultType="map" parameterType="map" >
        select m.*,p.*,sum(p.payitemsmoney) num from meter m LEFT JOIN payitems p on m.payitemstid=p.payitemsid
        <where>1=1
        <if test="precinct!=null and precinct!=''">
             and m.precinct like concat('%',concat(#{precinct},'%'))
         </if>
    </where>LIMIT #{begin},#{end}
   </select>
   <select id="selectCount" resultType="int">
       select count(*) from meter m LEFT JOIN payitems p on m.payitemstid=p.payitemsid
       <where>1=1
            <if test="precinct!=null and precinct!=''">
                and precinct like concat('%',concat(#{precinct},'%'))
            </if>
       </where>
   </select>
</mapper>